<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}"
>
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
</head>
<body>
<section layout:fragment="content">
    <h1>[[${title}]]</h1>

    <a class="btn btn-primary mb-4 mt-2" th:href="@{/admin/table/add}">
        Add
    </a>

    <div th:if="${msg}" class="alert alert-success text-center">
        [[${msg}]]
    </div>
    <div th:if="${err}" class="alert alert-danger text-center">
        [[${err}]]
    </div>
    <div th:if="${wn}" class="alert alert-warning text-center">
        [[${wn}]]
    </div>

    <table class="table table-dark table-striped">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Table Name</th>
            <th>Desc</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="table : ${tableLists}">
            <tr>
                <td>[[${table.id}]]</td>
                <th:block>
                    <td th:if="${table.imgPrimary}">
                        <img th:src="${table.imgPrimary}" width="70px" height="70px" alt="">
                    </td>
                    <td th:unless="${table.imgPrimary}">
                        <p>no-img</p>
                    </td>
                </th:block>
                <td>[[${table.tableName}]]</td>
                <td>[[${table.description}]]</td>
<!--                <td>[[${table.category.slot}]]</td>-->
                <th:block th:each="category : ${table.category}">
                    <td>[[${category.slot}]] chỗ</td>
                </th:block>
                <td>
                    <a class="btn btn-primary" th:href="@{'/admin/table/edit/' + ${table.id}}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/admin/table/delete/' + ${table.id}}">Delete</a>
                </td>
            </tr>
        </th:block>
    </table>
</section>
</body>
</html>